/*
  @name fix css comments in css
  @regex (/\*.*(?<!\*ƒ/))$\n(?:( *) ?)
  @replace $1 *ƒ/
  $2/*
  @untilfail
  @endregex

  */
input:not(input[type="checkbox"]) {
  outline: 0;
  box-shadow: 0px 0px 5px var(--text-shadow-color);
}

input,
button,
label {
  color: var(--root-color);
  background-color: var(--bg-color);
  text-shadow: 0px 0px 5px var(--text-shadow-color);
}
.modified {
  background-color: var(--modified-key-bg-color);
}

input[type="checkbox"],
button {
  accent-color: var(--root-color);
  box-shadow: 0px 0px 5px var(--text-shadow-color);
  border: 1px solid var(--border-color);
  margin-right: 3px;
}

html {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 100vh !important;
  padding: 0px;
  margin: 0;
  color-scheme: light dark;
}
.hidden {
  display: none !important;
}

#main {
  padding: 10px;
}

div,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
h7 {
  color: var(--main-light) !important;
}
