:root {
  font-size: small;
  --root-color: #bfbfbf; /* 00fbff */
  /* --root-color: #0400ff; */
  /* --bg-color: color-mix(in srgb, var(--root-color) 10%, black); */
  --border-color: color-mix(
    in srgb,
    var(--root-color) 30%,
    black 60%
  );
  --text-shadow-color: color-mix(
    in srgb,
    var(--root-color) 80%,
    black 20%
  );

  --border-color: color-mix(
    in srgb,
    var(--root-color) 30%,
    black 90%
  );

  --main-darkish: color-mix(in srgb, var(--root-color), black 30%);
  --main-dark: color-mix(in srgb, var(--root-color), black 60%);
  --main-darker: color-mix(in srgb, var(--root-color), black 75%);
  --main-darkest: color-mix(in srgb, var(--root-color), black 90%);
  --main-lightish: color-mix(in srgb, var(--root-color), white 30%);
  --main-light: color-mix(in srgb, var(--root-color), white 60%);
  --main-lighter: color-mix(in srgb, var(--root-color), white 75%);
  --main-lightest: color-mix(in srgb, var(--root-color), white 90%);
  --trans: #0000;
  --secondary-light: #6da2e9;
  --secondary-dark: #4a92f7;
  --change-purple: #7300ff;
  --change-white: #fff;

  --custom-thumb-color: var(--main-light);
  --custom-track-color: var(--main-dark);
  --webkit-scrollbar-width-height: 10px;
  --webkit-scrollbar-border-radius: 50px;
  --custom-track-color-hover: color-mix(
    in srgb,
    var(--main-light) 10%,
    #000 100%
  );
}
