body,
head {
  margin-top: 45px;
}
nav {
  width: 100vw;
  height: fit-content;
  max-height: 20px !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--border-color);
  padding: 7px;
  gap: 5px;
}
nav > * {
  color: var(--main-light);
  text-shadow: 0px 0px 10px var(--text-shadow-color);
}
